{% extends 'core/base.html' %}

{% block title %}Mi web personal | Contacto{% endblock %}

{% block background_image %} {% load static %} {% static 'core/img/contact-bg.jpg' %} {% endblock %}

{% block headers %}
<h1>Jaime Ríos</h1>
<span class="subheading">Backend Developer</span>
{% endblock %}

{% block content %}

<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Estoy siempre abierto a escuchar nuevas ideas, colaborar en proyectos interesantes o responder cualquier consulta relacionada con mis servicios. Ya sea que necesites asesoría técnica, desarrollo de software, o simplemente quieras intercambiar ideas, estaré encantado de ayudarte.</p>
        <br>
        <p><b>Correo: </b>jaime.10leonardo@gmail.com</p>
    </div>
</div>

{% endblock %}